@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  border: 1px solid #ccc;
  padding: 30px 50px;
  background-color: #1F1F2F;
}
img{
  position: absolute;
  left: 120px
}
.chat-container {
  max-width: 60%;
  max-height: 100%;
  padding: 30px 100px;
  border-radius: 5px;
  background-color: #1F1F2F;
  color: #FFF;
  font-size: 16px;
}
.box{
  max-width: 60%;
  max-height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.user-message {
  background-color: #313149;
  border-radius: 20px;
  border: 1px solid #7979AE;
  padding: 10px;
  justify-content: end;
  margin: 12px;
}

.bot-message {
  max-width: 60%;
  background-color: #313149;
  border-radius: 20px;
  border: 1px solid #7979AE;
  padding: 10px;
  margin: 12px;
  display: flex;
  align-items: center;
  
}

.chatRobot{
  display: flex;
  align-items: center;
}
.chatUser{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.options-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.questionBox{
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 50px 0px 10px 0px;
}

.button {
  background-color: #06BED8;
  color: white;
  padding: 10px 15px;
  margin: 7px 10px ;
  border: none;
  border-radius: 18px;
  cursor: pointer;
}

input{
  color: #FFF;
  display: flex;
  background-color: #64648b;
  border: 1px solid #06BED8;
  justify-content: center;
  width: 80%;
  height: 25px;
  padding: 6px 10px;
  font-size: 14px;
  border-radius: 18px;
}
